@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .myHeading{
            padding:10px;
            color:aliceblue;
            background-color: #BABABA;
            border-radius: 30px 30px 0 0;
        }

        .MyBody{
            
        }

        .blogBody{
            background-color: #F8F8F8;
            border-radius: 30px;
            box-shadow:inset;

        }
    </style>
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index"))
    {

    <p>
        @*Contents: @Html.DropDownList("MsgContents", "All");*@
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" /> <br />
    </p>
    }
</p>



    @*<table class="table table-hover">
        <tr class="bg-info">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeToRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeToRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@

@foreach (var item in Model)
{
    <div class="blogBody">
        <h3 class="myHeading"> @Html.DisplayFor(modelItem => item.Title, new { htmlAttributes = new { @class = "myHeading" } })</h3>
        <p class="MyBody"><i>Published: @Html.DisplayFor(modelItem => item.PublishedDate) </i><strong>Rating: @Html.DisplayFor(modelItem => item.Rating)</strong></p>
        <hr />
        <p id="">@Html.DisplayFor(modelItem => item.Message)</p>

        <br /><br />
    </div>
}
